<h1>Artists</h1>
<ul>
  <!-- this works in my server - for some reason, makes the tests fail

  <#% @artists.sort_artists(@preference).each do |artist| %> -->

  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
  <% end %>
</ul>
