<h1>Preferences Index Page</h1>
<!--<ul>
  <%# @preferences.each do |preference| %>
    <li><%#= preference.artist_sort_order %></li>
    <li><%#= preference.song_sort_order  %></li>
    <li><%#= preference.allow_create_artists %></li>
    <li><%#= preference.allow_create_songs %></li>
  <%# end %>
</ul>-->


<%= @preferences %> 