<h1>Current Admin Preferences</h1>
<p>  Artists Order: <%=@preference.artist_sort_order%></p>
<p>Song Order: <%=@preference.song_sort_order%></p>
<p>Allow Artist Creation: <%=@preference.allow_create_artists%></p>
<p>Allow Song Creation: <%=@preference.allow_create_songs%></p>
