<h1>Preferences</h1>

<p>Sort songs by: <%= @preferences.song_sort_order %></p>

<p>Sort artists by: <%= @preferences.artist_sort_order %></p>

<p>Can create new songs: <%= @preferences.allow_create_songs %></p>

<p>Can create new artists: <%= @preferences.allow_create_artists %></p>
