<h1>Preferences</h1>
<ul>
  <li>song_sort_order: <%= @preference.song_sort_order %></li>
  <li>artist_sort_order: <%= @preference.artist_sort_order %></li>
  <li>allow_create_songs: <%= @preference.allow_create_songs %></li>
  <li>allow_create_artists: <%= @preference.allow_create_artists %></li>
</ul>
