<h1>Admin / Preferences / Index View</h1>

<p>Song Sort: <%= @prefs.song_sort_order %></p>
<p>Artist Sort: <%= @prefs.artist_sort_order %></p>
<p>Create Songs?: <%= @prefs.allow_create_songs %></p>
<p>Create Artists?: <%= @prefs.allow_create_artists %></p>
