<h1>Current Preferences</h1>
<ul>
  <li>Song Permission: <%= @allow_create_songs%></li>
  <li>Artist Permission: <%= @allow_create_artists%></li>
  <li>Song Order: <%= @song_order%></li>
  <li>Artist Order: <%= @artist_order%></li>
</ul>
