<h1>Your Preferences: </h1>

<ul>
  <li>Artist Sort Order: <%= @prefs.artist_sort_order %></li>
  <li>Song Sort Order: <%= @prefs.song_sort_order %></li>
  <li>Allowed to Create Artists: <%= @prefs.allow_create_artists %></li>
  <li>Allowed to Create Songs: <%= @prefs.allow_create_songs %></li>
</ul>
