<h1>Access</h1>
<ul>
  <li>Create Artists?: <%= @preference.allow_create_artists %><br></li>
  <li>Create Songs?: <%= @preference.allow_create_songs %><br></li>
  <li>Sort Songs: <%= @preference.song_sort_order %><br></li>
  <li>Sort Artists: <%= @preference.artist_sort_order %><br></li>
</ul>
