<h1>Current Display Preferences Regulated by Admin:</h1>

<p><strong>Allow Creation of Artists:</strong> <%= @preference.allow_create_artists %></p>
<p><strong>Allow Creation of Songs:</strong> <%= @preference.allow_create_songs %></p>
<p><strong>Song Sort Order:</strong> <%= @preference.song_sort_order %></p>
<p><strong>Artist Sort Order:</strong> <%= @preference.artist_sort_order %></p>
